body {
	font-family: times new roman;
	color: black;
	}
	
	img {
    border-radius: 50px;
    height: 150px;
	} 
	
	 }
    div:hover{
    	color:blue;
    }
#icono1:hover{
color:yellow;
}
#icono2:hover{
color:yellow;
}

#icono3:hover{
color:yellow;
}

#icono4:hover{
color:yellow;
}

#icono5:hover{
color:yellow;
}



