.table1{
	
	background-color:#fff;
	border:15px solid #f2f2f2;
}
.custom1{
	width:20%;
	background-color:#81Daf5;
}

img{
	height:150px;
	border-radius:10px;
	padding-left:17%;
}

ul{
	font-size:18px;
	padding-right:25%;
}

.custom2{
	width:30%;
	
}
li{
   list-style: none;
   float:left;
   margin-left:15px;
}

.iconcolor:hover{
   color: yellow;
}
iframe{
	margin-left:10%;
}