body {
  height: 100%;
  width: 100%;
  display: block;
}
  /* .relativeLocation{
    width: 220px;
    position: relative;
    float: left;
    background: gray;
  } */

  .classTipeA {
    height: 200px;
    position: relative;
    display: inline-block;
    float: left;
  }

  .section1MainClass{
    height: 220px;
    position: relative;
    width: 100%;
    border: 3px red solid;
    overflow: auto;

  }

  .section2MainClass{
    height: 80%;
    border-style: solid;
    position: relative;
    float: left;
    width: 100%;
}
